/*body {
  background-color: #c3dfe8;
}*/

.CategoryStyle {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.CitiesWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
}

.CityStyle {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.CityStyle:hover {
  font-weight: bold;
}

.CurrentTempStyle {
  color: white;
  font-size: 230px;
  text-align: center;
  margin: 0;
}

.CurrentTempWrapper {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  /*margin: 0 0 100px 0;*/
}

.DataStyle {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.DescriptionStyle {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.HighAndLowWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.TitleStyle {
  color: rgba(0, 0, 0, 0.7);
  font-size: 100px;
  text-align: center;
  max-width: 2000px;
  font-weight: bold;
}

.WeatherCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 25px;
}

.WeatherImageWrapper {
  font-size: 125px;
  color: white;
}

.Wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 2000px;
  padding: 0 25px;
}

.Wrapper2 {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  padding: 0 25px;
}

@media only screen and (max-width: 1100px) {
  .CurrentTempWrapper {
    margin: 0 0 100px 0;
  }

  .Wrapper {
    flex-direction: column;
  }
}
