.CategoryStyle {
  font-size: 25px;
}

.CurrentTempStyle {
  font-size: 200px;
  margin: 0;
}

.CurrentTempWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  margin: 0;
}

.DataStyle {
  font-size: 50px;
  font-weight: bold;
}

.HighAndLowWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.TitleStyle {
  font-size: 100px;
  text-align: center;
  max-width: 2000px;
  font-weight: bold;
}

.WeatherCard {
  /*border: 1px solid #000;*/
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 25px;
}

.Wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 2000px;
  padding: 0 25px;
}
